
<a routerLink="/facilityhome">
    <div id="header-logo">
        <img src="/assets/Facilityportal-2.png" class="logo svelte" alt="Svelte Logo" />
    </div>
  </a>
<!-- @ToDo  Fix content does not wrap -->
<div id="header-contents" *ngIf="payload?.obj?.userData?.role">   
    <span class="label">Name</span><span class="value">{{payload.obj.userData.username}}</span>   
    <span class="label">Role</span><span class="value">{{payload.obj.userData.role}}</span>   
    <span class="label">Facility</span><span class="value">{{payload.obj.userData.facility}}</span>   
</div>